@import url('http://fonts.cdnfonts.com/css/caladea');

*, *::before, **::after{
    box-sizing:border-box;
}

html {
    margin: 0 auto;
    padding: 0 auto;
}

* {
    border-radius: 0px;
    background-color: #ADB5DE;
    font-family: 'Caladea', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: black;
}


h1 {
    font-weight: bold;
    font-size: 40px;
}

h2 {
    font-weight: bold;
    font-size: 40px;
}

header {
    margin: 15px;		
    display:block;
    padding: 20px 20px;
}

section {
    padding: 10px;
    margin: 10px 10px;
}


.ap-logo-name {
    margin-left:-50px;
}

 
img.fondo {
    width: 100%;
    padding:0px;
    margin-top: -40px;
}

img.fotocamila {
    margin-top:-350px;
    margin-left:100px;
    padding:0px;
    border: solid
}

.login {
    border: solid
}